{% extends 'core/index.html' %}

{%block titulo%}INICIO{%endblock%}

{% load static %}

{%block content%}

    <div class="head__about">
        <h2 class="aboutext animate__animated animate__backInLeft">SOBOBRE MI</h2>

        <img class="aboutimg animate__animated animate__backInUp" src="{% static 'core/img/franco.png' %} " alt="">
    </div>
    
    <div class="card__about">
        <div class="hola__about animate__animated animate__backInLeft">
            <h2>Hola, soy Franco Gimenez</h2>
            <p>
                Desde que era un niño, la informática ha sido mi pasión y mi camino elegido. He crecido entre cables y teclados, y cada línea de código es un mundo nuevo por explorar.
            </p>
        </div>
    
        <div class="exp__about animate__animated animate__backInRight">
            <h2>Experiencia y Trayectoria</h2>
            <p>
                Con varios años de experiencia en el campo, he tenido el privilegio de administrar equipos, abrir oficinas desde cero y sumergirme en el emocionante mundo de la infraestructura y la programación. Mi trayectoria profesional me ha permitido enfrentar desafíos diversos y aprender constantemente.
            </p>
        </div>
    
        <div class="filo__about animate__animated animate__backInLeft">
            <h2>Filosofía Profesional</h2>
            <p>
                Para mí, la calidad es una prioridad y siempre me esfuerzo por dejar huella a través de mi trabajo. Creo en la importancia de la dedicación, el compromiso y la búsqueda constante de soluciones creativas. Cada día es una nueva oportunidad para aprender algo nuevo y mejorar en mi campo.
            </p>
        </div>
    
        <div class="hab__about animate__animated animate__backInRight">
            <h2>Habilidades y Expertise</h2>
            <p>
                Administración de equipos
                Desarrollo de infraestructura
                Programación
                Resolución de problemas
                Creatividad en soluciones
                Intereses Personales
                Fuera del trabajo, disfruto de [mencionar tus hobbies e intereses]. Creo que mantener un equilibrio entre la vida profesional y personal es esencial para el bienestar y el crecimiento personal.
            </p>
        </div>
    
        <div class="hablemos__about animate__animated animate__backInLeft">
            <h2>¡Hablemos!</h2>
            <p>
                Si estás buscando a alguien apasionado, dedicado y con una actitud positiva para sumar valor a tus proyectos, ¡aquí estoy! Estoy emocionado por las oportunidades de colaboración y de llevar tus proyectos al siguiente nivel juntos.
            </p>
        </div>
        <br>
        <br>
        <p>¡Gracias por visitar mi web ❤️!</p>
    </div>

    <footer class="nothome">
        <p>© 2024 Franco Gimenez. Todos los derechos reservados.</p>
    </footer>
{%endblock%}