{% extends 'core/index.html' %}

{%block titulo%}INICIO{%endblock%}

{% load static %}

{%block content%}

    <div class="head__about">
        <h2 class="aboutext animate__animated animate__backInLeft">SOBRE MI</h2>
        <img class="aboutimg animate__animated animate__backInUp" src="{% static 'core/img/franco.png' %}" alt="">
    </div>

    
    <div class="card__about">
        <div class="hola__about animate__animated animate__backInLeft">
            <h2>Hola, soy Franco Gimenez</h2>
            <p>
                ¡Hola! Soy Franco Giménez, un apasionado informático con una sólida experiencia en diversas áreas de la tecnología. Mi carrera se ha caracterizado por un fuerte compromiso con la responsabilidad, la capacidad de trabajar bajo presión y una notable adaptabilidad al cambio. Mi enfoque siempre ha sido resolver problemas de manera efectiva, utilizando un pensamiento crítico para abordar los desafíos.
            </p>
        </div>
    
        <div class="exp__about animate__animated animate__backInRight">
            <h2>Experiencia y Trayectoria</h2>
            <p>
                A lo largo de mi trayectoria, he tenido la oportunidad de liderar equipos y gestionar proyectos de tecnología en empresas como Energy Marketing y Ueno. Mis competencias abarcan desde la administración de sistemas y redes hasta el desarrollo de aplicaciones web y la gestión de bases de datos. Además, tengo un buen dominio de herramientas de control de versiones como GitHub.
            </p>
        </div>
    
        <div class="filo__about animate__animated animate__backInLeft">
            <h2>Filosofía Profesional</h2>
            <p>
                Para mí, la calidad es una prioridad y siempre me esfuerzo por dejar huella a través de mi trabajo. Creo en la importancia de la dedicación, el compromiso y la búsqueda constante de soluciones creativas. Cada día es una nueva oportunidad para aprender algo nuevo y mejorar en mi campo.
            </p>
        </div>

    
        <div class="hablemos__about animate__animated animate__backInLeft">
            <h2>¡Hablemos!</h2>
            <p>
                Si estás buscando a alguien apasionado, dedicado y con una actitud positiva para sumar valor a tus proyectos, ¡aquí estoy! Estoy emocionado por las oportunidades de colaboración y de llevar tus proyectos al siguiente nivel juntos.
            </p>
        </div>

        <br>
        <br>
        <p>¡Gracias por visitar mi web ❤️!</p>
        
    </div>

    <footer class="nothome">
        <p>© 2024 Franco Gimenez. Todos los derechos reservados.</p>
    </footer>
{%endblock%}