{% extends 'core/index.html' %}

{% block titulo %}CONTACTO{% endblock %}

{% block content %}
<h2 class="aboutext animate__animated animate__backInLeft">CONTACTO</h2>

<form class="contacto animate__animated animate__backInRight" method="post">
    {% csrf_token %}
    <div class="form__input">
        <label for="nombre">Nombre</label>
        {{ form.name }}
    </div>

    <div class="form__input">
        <label for="email">Email</label>
        {{ form.email }}
    </div>

    <div class="form__textarea">
        <label for="mensaje">Mensaje</label>
        {{ form.message }}
    </div>

    <button type="submit" class="form-control">Enviar</button>
</form>

<footer>
    <p>© 2024 Franco Gimenez. Todos los derechos reservados.</p>
</footer>
{% endblock %}
