    {% extends 'core/index.html' %}

    {%block titulo%}CONTACTO{%endblock%}

    {%block content%}

        <h2 class="aboutext animate__animated animate__backInLeft">CONTACTO</h2>

        <form class="contacto animate__animated animate__backInRight">

            <div class="form__input">
                <label for="">Nombre</label>
                <input type="text" placeholder="Nombre y apellido">
            </div>

            <div class="form__input">
                <label for="">Email</label>
                <input type="email" placeholder="ejemplo@gmail.com">
            </div>

            <div class="form__textarea">
                <label for="">Mensaje</label>
                <textarea placeholder="0/1000"></textarea>
            </div>
               
         </form>
        
        <footer>
            <p>© 2024 Franco Gimenez. Todos los derechos reservados.</p>
        </footer>

    {%endblock%}