    {% extends 'core/index.html' %}

    {%block titulo%}CONTACTO{%endblock%}

    {%block content%}

        <h2 class="aboutext animate__animated animate__backInLeft">CONTACTO</h2>

        <div class="contacto animate__animated animate__backInRight">
            <p>Dejame tus consultas aqui:</p>
            <textarea class="consult" placeholder="Dejame tus consultas aquí" minlength="50" required></textarea>

            <br>
            <br>
            <p class="contact-email">Dejame tu correo:</p>
            <input placeholder="Enter your email" class="input__email" name="email" type="email" required>
            <button class="button">enviar</button> 
        </div>

        <footer class="nothome">
            <p>© 2024 Franco Gimenez. Todos los derechos reservados.</p>
        </footer>

    {%endblock%}