{% extends 'core/index.html' %}

{%block titulo%}INICIO{%endblock%}

{%block content%}

<h2 class="aboutext animate__animated animate__backInLeft">PORTAFOLIO</h2>

<section id="projects" class="projects animate__animated animate__fadeInRight">
    <div class="project">
        <div class="h3bg">
            <h3 class="h3text">Sitio Web Personal Desarrollado con Django</h3>
        </div>
        <p>Desarrollé un sitio web personal utilizando Django, un framework web de Python, para construir una aplicación robusta y escalable. Utilicé HTML y CSS para diseñar una interfaz de usuario atractiva y responsive. El sitio consta de varias secciones, incluyendo una página de inicio dinámica, un perfil detallado en la página "Sobre Mí", un portafolio interactivo para mostrar proyectos anteriores y una página de contacto para facilitar la comunicación.</p>
        <p>Además, implementé un sistema de control de versiones utilizando Git y GitHub. Este proyecto se encuentra alojado en mi perfil de GitHub, donde utilicé Git para gestionar eficientemente el código fuente. A través del control de versiones, pude realizar seguimiento de los cambios, revertir modificaciones si fuera necesario y trabajar en nuevas funcionalidades de manera colaborativa.</p>
        <p>Puedes explorar el código fuente y los commits del proyecto en mi repositorio de GitHub: <a href="https://github.com/FrancoGimenezO/FGweb-site.git">https://github.com/FrancoGimenezO/FGweb-site.git</a></p>
    </div>

    <div class="project1">
        <div class="h3bg1">
            <h3 class="h3text">IT Manager en Energy Marketing</h3>
        </div>
        <p>Administración de Active Directory: Gestión de usuarios, roles y equipos de dominio.</p>
        <p>Implementación de Aplicaciones: Desarrollo y mantenimiento de aplicaciones utilizando HTML, CSS, Python y Django.</p>
        <p>Gestión de Bases de Datos: Administración de bases de datos con SQL.</p>
        <p>Control de Inventario y Fondos Corporativos: Supervisión de compras y contacto con proveedores.</p>
        <p>Soporte y Mantenimiento de Redes: Montaje de equipos en RAC y soporte a usuarios.</p>
    </div>

    <div class="project2">
        <div class="h3bg2">
            <h3 class="h3text">Coordinador de Infraestructura en Ueno</h3>
        </div>
        <p>Asesoramiento en TI: Recomendación de soluciones tecnológicas y adquisición de nuevos equipos.</p>
        <p>Administración de Active Directory: Gestión de usuarios, roles y equipos de dominio.</p>
        <p>Desarrollo de Soluciones: Implementación de soluciones con HTML, CSS y Python.</p>
        <p>Gestión de Inventario: Supervisión de activos tecnológicos como impresoras, notebooks y desktops.</p>
    </div>
    
</section>
    <p>© 2024 Franco Gimenez. Todos los derechos reservados.</p>
</footer>

<!-- Carga la librería de animaciones -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

{%endblock%}