{% extends 'core/index.html' %}

{%block titulo%}INICIO{%endblock%}

{%block content%}

    <h2 class="aboutext animate__animated animate__backInLeft">PORTAFOLIO</h2>
    
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime labore vel asperiores odit laudantium unde qui id itaque deleniti alias ut, ab quo error blanditiis impedit eum molestias modi. Optio.</p>

    <footer class="nothome">
        <p>© 2024 Franco Gimenez. Todos los derechos reservados.</p>
    </footer>

{%endblock%}