{% extends 'core/index.html' %}

{%block titulo%}CONTACTO{%endblock%}

{%block content%}
    <div class="bac__text">
        <h2 class="servistext animate__animated animate__backInLeft">SERVICIOS</h2>
    </div>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quasi ullam ratione sit dignissimos numquam, quam laudantium, adipisci ad vel aliquid, beatae iusto qui sed nostrum incidunt. Veniam, veritatis quibusdam?
    </p>

    <footer class="nothome">
        <p>© 2024 Franco Gimenez. Todos los derechos reservados.</p>
    </footer>

{% endblock %}